.main {
  text-align: center;
  color: #fff;
  background-color: #28293e;
  padding: 100px 0;
  .title {
    font-size: 72px;
    font-weight: bold;
    line-height: 100%;
  }

  .description {
    margin-top: 50px;
  }
}
