.header {
  background-color: #28293e;
  position: fixed;
  width: 100%;
  color: #fff;

  .headerContent {

    .desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 992px) {
        .desktop{
          display: none;
        }
      }

    }

    .wrapperLogo {
      display: flex;
      cursor: pointer;

      .logo{
        margin: 15px 10px 0 0;
      }
    }

      .nav {
        display: inline-block;
        .menu {
          display: flex;

          .itemMenu {
            list-style-type: none;
            cursor: pointer;
            font-size: 22px;

            &:hover {
              color: #117964;
              transition: background 0.3s ease-in-out;
            }

            &:not(:last-of-type) {
              margin-right: 100px;
            }
          }
        }
      }

    .mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .desktop{
    display: none;
  }

  .mobile {
    display: block;
  }
}
