.header {
  background-color: #28293e;
  position: fixed;
  width: 100%;
  color: #fff;

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapperLogo {
      display: flex;
      cursor: pointer;

      .logo{
        margin: 15px 10px 0 0;
      }
    }

    .nav {

      .menu {
        display: flex;

        .itemMenu {
          list-style-type: none;
          cursor: pointer;
          font-size: 22px;

          &:not(:last-of-type) {
            margin-right: 100px;
          }
        }
      }
    }
  }
}
